@{
    ViewBag.Title = "Knockout";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <img src='@Url.Content("~/img/knockout.png")' alt="MongoDB" title="MongoDB" style="width: 50px" />
    </div>
    <h1>Knockout</h1>
</div>

<section id="installation">
    <h3>1. Installation</h3>
    <ol>
        <li>Download the latest version of <a href="http://github.com/downloads/SteveSanderson/knockout/knockout-2.1.0.js">Knockout</a>.</li>
        <li>Reference the file using a &lt;script&gt; tag somewhere on your HTML pages</li>
        <ul>
            <li>&lt;script type='text/javascript' src='knockout-2.1.0.js'&gt;&lt;/script&gt;</li>
        </ul>
    </ol>
</section>

<section id="key-concepts">
    <h3>2. Key Concepts</h3>

    <table>
        <tbody>
            <tr>
                <td style="text-align: center;">
                    <img src='@Url.Content("~/img/declarative-bindings.png")'/>					
                    <p class="lead">Declarative Bindings</p>
                    <p><small>Easily associate DOM elements with model data using a concise, readable syntax</small></p>						
                </td>
                <td style="text-align: center;">
                    <img src='@Url.Content("~/img/automatic-refreshing.png")' />					
                    <p class="lead">Automatic UI Refresh</p>
                    <p><small>When your data model's state changes, your UI updates automatically</small></p>						
                </td>
                <td style="text-align: center;">
                    <img src='@Url.Content("~/img/dependency-tracking.png")' />					
                    <p class="lead">Dependency Tracking</p>
                    <p><small>Implicitly set up chains of relationships between model data, to transform and combine it</small></p>
                </td>
                <td style="text-align: center;">
                    <img src='@Url.Content("~/img/templating.png")' />					
                    <p class="lead">Templating</p>
                    <p><small>Quickly generate sophisticated, nested UIs as a function of your model data</small></p>						
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section id="working-with-bootstrap">
    <h3>More...</h3>

    <p>More information can be found in the following blost post:</p>
    
    <ul>
        <li><a href="http://cgeers.com/2012/10/06/single-page-application-with-knockout-js-part-1/" target="_blank">Single-page Application with Knockout.js, Part 1</a></li>
    </ul>
    <br /><br />
</section>